<!-- Internal CSS
    <style>
        body{
            background-color: aquamarine;
            background-size: 100% 100%;
        }
    </style>
    -->
    .blue{
        color: blue;
    }
    
    
    